# Chặn tuyệt đối thư mục dataset (ảnh train/test/valid)
python_ai/data_set/

# Chặn các thư mục kết quả train tự sinh của YOLO
python_ai/runs/
runs/

# Chặn bộ nhớ đệm hệ thống
__pycache__/
.vscode/

logs/*
!logs/.gitkeep

# Chặn hoàn toàn thư mục logs nằm bên trong python_ai
python_ai/logs/*

# Ngoại trừ file .gitkeep để giữ lại vỏ thư mục rỗng khi push lên GitHub
!python_ai/logs/.gitkeep

# (Tùy chọn) Chặn luôn cả thư mục sources chứa video nặng để tránh push nhầm
python_ai/sources/*
!python_ai/sources/.gitkeep